<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="tableCheck" class="icon-align"><i style="font-size: 45px; cursor: pointer;"
                class="material-icons delete-color" matTooltip="Delete Selected Product Category"
                (click)="deleteSelectedPharmacyStoreCategory()">delete</i> </div>
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="!show"> <button mat-raised-button class="btn import-btn pull-right"
                        (click)="import()">IMPORT <i class="material-icons" style="color: white;">get_app</i></button>
                </div>
                <div *ngIf="show"> <button mat-raised-button class="btn import-btn pull-right" text-uppercase><a
                            href="assets/excel/IUTH-PRODUCT-CATEGORY.xlsx" style="color: white;">Download Sample</a> <i
                            class="material-icons" style="color: white;">get_app</i></button></div>
                <div> <button mat-raised-button class="btn pull-right card-color" (click)="export()">EXPORT <i
                            class="material-icons" style="color: white;">reply</i></button></div>
                <input accept="*" *ngIf="show" class="margin-btm" type="file" (change)="handleFiles($event)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-checkbox (change)="switchView($event)" [checked]="isStaffSwitchedTable">Change View of Items
                </mat-checkbox>
            </div>
        </div>
        <div class="row" *ngIf="!isStaffSwitchedTable">
            <div class="col-md-12">
                <cdk-virtual-scroll-viewport style="height: 500px" itemSize="itemSize">
                    <ng-container *cdkVirtualFor="let pharmacystorecategory of paginatedPharmacyStorecats">
                        <div class="card" style="border: solid #00254e 2px;">
                            <div class="card-body">
                                <mat-checkbox (change)="selectedPharmacyStoreCategory(pharmacystorecategory, $event)"
                                    [disabled]="!isUserPermitted">
                                </mat-checkbox>
                                <mat-card-title style="margin: 0 0 5px 10px;">Product Name:
                                    {{pharmacystorecategory.productname}}</mat-card-title>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Cost Price:</strong> {{pharmacystorecategory.costprice}}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Sub Group:</strong>
                                        {{pharmacystorecategory.subgroup}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Number of tablets/sub-items:</strong>
                                        {{pharmacystorecategory.subitemno}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="icon-product-cat" style="background-color: #4d0000"
                                            (click)="deletePharmacyStoreCategory(pharmacystorecategory)" mat-mini-fab
                                            [disabled]="!isUserPermitted || !isSupervisor"><i class="material-icons"
                                                style="color: whitesmoke"
                                                matTooltip="Delete Product Category">delete</i></button>
                                        <button class="icon-product-cat" style="background-color: #00254e"
                                            (click)="editPharmacyStoreCategory(pharmacystorecategory)" mat-mini-fab
                                            [disabled]="!isUserPermitted || !isSupervisor"> <i class="material-icons"
                                                style="color: whitesmoke"
                                                matTooltip="Edit Product Category">edit</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div style="text-align: center;">
                        <button mat-raised-button class="btn btn-warning btn-load" (click)="previous()"
                            [disabled]="!isPreviousActive"><i class="material-icons" style='color: white;'
                                matTooltip="Go to Previous">keyboard_arrow_left</i> Load Previous.... </button>
                    </div>
                    <div style="text-align: center;">
                        <button mat-raised-button class="btn btn-info btn-load" (click)="next()"
                            [disabled]="!isNextActive"> Load More.... <i class="material-icons" style='color: white;'
                                matTooltip="Go to Next">keyboard_arrow_right</i></button>
                    </div>
                    <button mat-fab class='btn btn-success' (click)="goToStart()" [disabled]="!isPreviousActive">
                        <i class="material-icons" style='color: white;'
                            matTooltip="Go to Start">keyboard_arrow_up</i></button>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="row" *ngIf="isStaffSwitchedTable">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <mat-form-field class="example-full-width" style="float: right;">
                            <input matInput placeholder="Search" (change)="filterString($event)">
                        </mat-form-field>
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="font-weight: bold;">
                                            Product Name
                                        </th>
                                        <th style="font-weight: bold;">
                                            Cost Price
                                        </th>
                                        <th style="font-weight: bold;">
                                            Sub Group
                                        </th>
                                        <th style="font-weight: bold;">
                                            Number of tablets/sub-items
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pharmacystorecategory of paginatedPharmacyStorecats">
                                        <td>
                                            {{pharmacystorecategory.productname}}
                                        </td>
                                        <td>
                                            {{pharmacystorecategory.costprice}}
                                        </td>
                                        <td class="text-primary">
                                            {{pharmacystorecategory.subgroup}}
                                        </td>
                                        <td>
                                            {{pharmacystorecategory.subitemno}}
                                        </td>
                                        <td>
                                            <button class="icon-product-cat" style="background-color: #4d0000"
                                                (click)="deletePharmacyStoreCategory(pharmacystorecategory)"
                                                mat-mini-fab [disabled]="!isUserPermitted || !isSupervisor"><i
                                                    class="material-icons" style="color: whitesmoke"
                                                    matTooltip="Delete Product Category">delete</i></button>
                                        </td>
                                        <td>
                                            <button class="icon-product-cat" style="background-color: #00254e"
                                                (click)="editPharmacyStoreCategory(pharmacystorecategory)" mat-mini-fab
                                                [disabled]="!isUserPermitted || !isSupervisor"> <i
                                                    class="material-icons" style="color: whitesmoke"
                                                    matTooltip="Edit Product Category">edit</i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button mat-stroked-button style="float: right; margin: 5px;" class="btn btn-info"
                            (click)="next()" [disabled]="!isNextActive"> NEXT </button>
                        <button mat-stroked-button style="float: right; margin: 5px;" class="btn btn-warning"
                            (click)="previous()" [disabled]="!isPreviousActive"> PREVIOUS </button>
                        <button mat-stroked-button style="float: right; margin: 5px;" class="btn btn-success"
                            (click)="goToStart()" [disabled]="!isPreviousActive"> GO TO START </button>
                    </div>
                </div>
            </div>
        </div>
        <button mat-fab class='fab-button' (click)="addPharmacyStoreCategory()" [disabled]="!isUserPermitted"> <i
                class="material-icons" style='color: white;' matTooltip="Add Product Category">add</i></button>
    </div>
</div>