<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        IUTH Account Manager
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://sarutech.com/" target="_blank"><b style="color: black;">Sarutech</b></a>
        </div>
    </div>
</footer>
