<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-iuth">
                <h4 class="card-title">Unauthorised Access</h4>
                <p class="card-category">You are not authorised to view this page.</p>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="material-icons text-danger" style="font-size: 50px;">not_interested</i>
                        </div>
                        <div class="col-sm-10">
                            <div class="tim-typo">
                                <h1 class="text-danger"> You are not authorised to view this page </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>