<div class="main-content">
  <div class="container-fluid">
    <i class="material-icons" style="color: #00254e; cursor: pointer; text-align: left" matTooltip="Close"
      (click)="onNoClick()">close</i>
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="card"> -->
        <div style="text-align: center;">
          <h2 style="color:#00254e;"><b>{{title}} Counter Product</b></h2>
          <p style="color:#00254e; text-transform: lowercase">You can {{title}} counter product here</p>
        </div>
        <div>
          <form [formGroup]="counterProductForm">
            <div class="row">
              <div class="col-md-12">
                 <input type="hidden" name="productcatid" [(ngModel)]='counterProduct.productcatid'
                  [formControl]="counterProductForm.controls['productcatid']">
                <mat-form-field class="example-full-width">
                  <input matInput name="productname" [(ngModel)]='counterProduct.productname'
                  [formControl]="counterProductForm.controls['productname']"
                    placeholder="Product Name" type="text" required disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" *ngIf="counterProduct.productimage == ''">
                <div style="text-align: center">
                  <img style="margin: 5px 0 5px 0;" src="assets/img/image_placeholder.png" width="100px" height="100px" />
                </div>
              </div>
              <div class="col-md-12" *ngIf="counterProduct.productimage != ''">
                <div style="text-align: center">
                  <img style="margin: 5px 0 5px 0;" [src]="_DomSanitizer.bypassSecurityTrustUrl(counterProduct.productimage)" width="100px" height="100px" />
                </div>
              </div>
            </div>
            <div class="row" style="margin: 5px 0 5px 0;">
              <div class="col-md-12">
                <input accept="*" class="margin-btm" type="file" (change)="handleFiles($event)" />
                <input type="hidden" name="productimage" [(ngModel)]='counterProduct.productimage'
                  [formControl]="counterProductForm.controls['productimage']">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Supplied Unit" type="number"
                    [(ngModel)]='counterProduct.suppliedunit' [formControl]="counterProductForm.controls['suppliedunit']" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Date Supplied"
                    [(ngModel)]='counterProduct.datesupplied' [formControl]="counterProductForm.controls['datesupplied']" disabled>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="expiryDate" placeholder="Expiry Date"
                    [(ngModel)]='counterProduct.expirydate' [formControl]="counterProductForm.controls['expirydate']" required disabled>
                  <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #expiryDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Unit Selling Price" type="number" name="unitsellingprice" [(ngModel)]="counterProduct.unitsellingprice" [formControl]="counterProductForm.controls['unitsellingprice']" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sub Item Selling Price" type="number" name="subitemsellingprice" [(ngModel)]="counterProduct.subitemsellingprice" [formControl]="counterProductForm.controls['subitemsellingprice']" required>
                  </mat-form-field>
                </div>
              </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cost Price" type="number" name="costprice" [(ngModel)]="counterProduct.costprice" [formControl]="counterProductForm.controls['costprice']" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="!isAdmin">
                <div class="col-md-12">
                  <span>Total Tablets/ Sub items = {{counterProduct.totalsubitem}} </span>
                </div>
              </div>
              <div class="row" *ngIf="isAdmin">
                <div class="col-md-12">
                   <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total Tablets / Sub Items" type="number" name="totalsubitem" [(ngModel)]="counterProduct.totalsubitem" [formControl]="counterProductForm.controls['totalsubitem']" required>
                    </mat-form-field>
                </div>
              </div>
            <div *ngIf="title=='Add'">
              <div style="text-align: center !important;"><button mat-raised-button type="submit" class="btn btn-color"
                  (click)="submit()" [disabled]='counterProductForm.invalid || counterProduct.productcatid == ""'>{{title}} Product</button></div>
            </div>
            <div *ngIf="title=='Edit'">
              <div style="text-align: center !important;"><button mat-raised-button type="submit" class="btn btn-color"
                  (click)="edit()" [disabled]='counterProductForm.invalid || counterProduct.productcatid == ""'>{{title}} Product</button></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>