.align-end {
    float: right;
    cursor: pointer;
}

.header {
    background-color: #00254e;
}

.btn-color {
    background-color: #00254e !important;
}
.scrollbar {
    overflow: auto;
    height: 550px;
}