<div class="main-content">
  <div class="container-fluid">
    <i class="material-icons" style="color: #00254e; cursor: pointer; text-align: left" matTooltip="Close"
      (click)="onNoClick()">close</i>
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="card"> -->
        <div style="text-align: center;">
          <h2 style="color:#00254e;"><b>{{title}} Receipt</b></h2>
        </div>

        <div id="printArea">
          <div class="row">
            <div class="col-md-12">
              <div class="info" style="display: block;margin-left: 0;">
                <h2 style="font-size: 0.8em; text-align: left;">Igbinedion University Teaching Hospital</h2>
                <p style="font-size: 0.8em;color: #666;line-height: 1.2em; text-align: left;">
                  Department: {{sale.department}}<br>
                  Dispenser Name: {{sale.dispenserName}}
                  <!-- {{sale.salename}} ({{sale.branch}})<br> -->
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: left">
                <div class="info" style="display: block;margin-left: 0;">
                  <p style="font-size: 0.8em; color: #666;">
                    <strong>Patient</strong> : {{sale.patientName}}
                  </p>
                </div>
                <div *ngIf="receiptSource=='default message'" class="info" style="display: block;margin-left: 0;">
                  <p style="font-size: 1.5em;color: #666;">
                    <strong>Ref No </strong> : <b>{{sale.referencenumber}}</b>
                  </p>
                </div>
                <div *ngIf="receiptSource=='Account'" class="info" style="display: block;margin-left: 0;">
                  <p style="font-size: 0.8em; color: #666;">
                    <strong>Invoice No </strong> : <b>{{sale.referencenumber}}</b>
                  </p>
                </div>
                <div class="info" style="display: block;margin-left: 0;">
                  <p style="font-size: 0.5em;color: #666;">
                    <strong>Date </strong> : {{sale.date}}
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div id="bot" style="border-bottom: 1px solid #EEE;min-height: 50px;" *ngIf="receiptSource=='Account'">

            <div id="table">
              <table style="width: 100%;border-collapse: collapse;">
                <tr class="tabletitle" style="font-size: .8em;background: #EEE; border-bottom: 1px solid #EEE;">
                  <td class="item" style="width: 70%;">
                    <h2 style="font-size: 0.8em;"><strong>Item</strong></h2>
                  </td>
                  <td class="Hours" style="width: 15%;">
                    <h2 style="font-size: 0.8em;"><strong>Qty</strong></h2>
                  </td>
                  <td class="Rate" style="width: 15%;">
                    <h2 style="font-size: 0.8em;"><strong>Amount</strong></h2>
                  </td>
                </tr>
                <!-- Product Error -->
                <!-- <tr>
                  <td style="text-align:center;">
                    <h4 style="color: rgb(180, 179, 179);">{{productError}}</h4>
                  </td>
                </tr> -->
                <!-- End Product Error -->
                <tr class="service" *ngFor="let product of sale.productorder" style="border-bottom: 1px solid #EEE;">
                  <td class="tableitem">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;">
                      {{product.productname}}</p>
                  </td>
                  <td class="tableitem">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;">{{product.qty}}</p>
                  </td>
                  <td class="tableitem" *ngIf="product.isUnitSelling">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;">#
                      {{product.unitsellingprice}}</p>
                  </td>
                  <td class="tableitem" *ngIf="!product.isUnitSelling">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;">#
                      {{product.subitemsellingprice}}</p>
                  </td>
                </tr>
                <!-- Service Error -->
                <!-- <tr>
                  <td style="text-align:center;">
                    <h4 style="color: rgb(180, 179, 179);">{{seviceError}}</h4>
                  </td>
                </tr> -->
                <!-- End Service Error -->
                <tr class="service" *ngFor="let product of sale.serviceorder" style="border-bottom: 1px solid #EEE;">
                  <td class="tableitem">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;">
                      {{product.servicename}}</p>
                  </td>
                  <td class="tableitem">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;">{{product.qty}}</p>
                  </td>
                  <td class="tableitem">
                    <p class="itemtext" style="font-size: 0.8em;color: #666;"># {{product.cost}}</p>
                  </td>
                </tr>
                <tr class="tabletitle" style="font-size: 0.8em;background: #EEE; border-bottom: 1px solid #EEE;">
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Total Amount: # {{sale.totalamount}}</h2>
                  </td>
                  <td>
                  </td>
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Total Amount Paid: # {{sale.amount}}</h2>
                  </td>
                </tr>
                <!-- <tr class="tabletitle" style="font-size: 0.8em;background: #EEE; border-bottom: 1px solid #EEE;">
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Total Amount Paid</h2># {{sale.amount}}
                  </td>
                  <td>
                  </td>
                  <td></td>
                </tr> -->
                <tr class="tabletitle" style="font-size: 0.8em;background: #EEE;">
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Balance: # {{sale.balance}}</h2>
                  </td>
                  <td>
                  </td>
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Amount loaned: # {{sale.amountloaned}}</h2>
                  </td>
                </tr>
                <!--  <tr class="tabletitle" style="font-size: 1em;background: #EEE;">
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Amount loaned</h2># {{sale.amountloaned}}
                  </td>
                  <td>
                  </td>
                  <td></td>
                </tr> -->
                <tr class="tabletitle" style="font-size: 0.8em;background: #EEE;">
                  <td class="Rate" style="float: left">
                    <h2 style="font-size: 0.8em;">Discount: {{sale.discount}}%</h2>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <div style="font-size: 0.8em;" *ngIf="!data.sale.isoncredit">
                Total Amount Received: {{amountInWords}} naira only.
              </div>
              <div style="font-size: 0.8em;" *ngIf="data.sale.isoncredit">
                Total Amount Loaned: {{amountInWords}} naira only.
              </div>
            </div>
            <!--End Table-->
            <div id="legalcopy" style="margin-top: 5mm;">
              <p class="legal" style="font-size: 0.5em;color: #666; text-align:center;">You were
                served by {{serverName}}({{staffCode}}) of Account on {{currentDate}}</p>
            </div>

            <div *ngIf="receiptSource=='default message'" id="legalcopy" style="margin-top: 5mm;">
              <p class="legal" style="font-size: 0.8em;color: #666; text-align:center;"> Proceed to
                Account to make payment </p>
            </div>
            <div *ngIf="receiptSource=='Account'" id="legalcopy" style="margin-top: 5mm;">
              <p class="legal" style="font-size: 0.5em;color: #666; text-align:center;"> Payment has
                been made, Thanks for your patronage. </p>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>