<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people</i>
                        </div>
                        <p class="card-category">Staff</p>
                        <h3 class="card-title">
                            {{staffs}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a>Number of Staff in IUTH, {{branch}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">accessible</i>
                        </div>
                        <p class="card-category">Patients</p>
                        <h3 class="card-title">{{patients}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Number of Patients in IUTH, {{branch}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Evacuated Sales</p>
                        <h3 class="card-title">{{calculateTotalEvacuates}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="evacuatedatefrom" [matDatepicker]="evacuatefrom"
                                            [(ngModel)]="evacuatedateFrom" placeholder="Date from">
                                        <mat-datepicker-toggle matSuffix [for]="evacuatefrom"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #evacuatefrom></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="evacuatedateto" [matDatepicker]="evacuateto"
                                            [(ngModel)]="evacuatedateTo" placeholder="Date to">
                                        <mat-datepicker-toggle matSuffix [for]="evacuateto"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #evacuateto></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="text-align: center; margin-bottom: 5px;">
                                <button mat-stroked-button class="btn"
                                    style="background-color: #00254e; margin-right: 10px;"
                                    (click)="evacuateFilterDate()">
                                    Check Date</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Profit</p>
                        <h3 class="card-title">{{calculateTotalProfits}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="datefrom" [matDatepicker]="from" [(ngModel)]="dateFrom"
                                            placeholder="Date from">
                                        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #from></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="dateto" [matDatepicker]="to" [(ngModel)]="dateTo"
                                            placeholder="Date to">
                                        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #to></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="text-align: center; margin-bottom: 5px;">
                                <button mat-stroked-button class="btn"
                                    style="background-color: #00254e; margin-right: 10px;" (click)="filterDate()">
                                    Check Date</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div style="float: right; margin-left: 5px;" class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label>Select Fiscal Year</mat-label>
                        <mat-select [value]="selectedYear" placeholder="Select Fiscal Year" [(ngModel)]="selectedYear"
                            name="selectedyear">
                            <mat-option [value]="selectedYear" *ngFor="let selectedYear of years"
                                (click)="selectYear(selectedYear)">
                                {{selectedYear}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <canvas id="canvas">{{ chart }}</canvas>
            </div>
        </div>
    </div>
</div>