<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="tableCheck" class="icon-align"><i style="font-size: 45px; cursor: pointer;"
                class="material-icons delete-color" matTooltip="Delete Selected Product"
                (click)="deleteSelectedCounterProduct()">delete</i> </div>
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="!show"> <button mat-raised-button class="btn import-btn pull-right"
                        (click)="import()">IMPORT <i class="material-icons" style="color: white;">get_app</i></button>
                </div>
                <div *ngIf="show"> <button mat-raised-button class="btn import-btn pull-right" text-uppercase><a
                            href="assets/excel/IUTH-COUNTER-PRODUCT-MAINPHARMACY_BC.xlsx" style="color: white;">Download
                            Sample</a> <i class="material-icons" style="color: white;">get_app</i></button></div>
                <div> <button mat-raised-button class="btn pull-right card-color" (click)="export()">EXPORT <i
                            class="material-icons" style="color: white;">reply</i></button></div>
                <input accept="*" *ngIf="show" class="margin-btm" type="file" (change)="handleFiles($event)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-checkbox (change)="switchView($event)" [checked]="isStaffSwitchedTable">Change View of Items
                </mat-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button style="float: left" (click)="navdamagedproducts()" mat-stroked-button class="btn btn-info"> View
                    Damaged Products </button>
                <button style="float: right; margin-right: 10px;" (click)="navprofit()" mat-stroked-button
                    class="btn btn-danger"> View Profits </button>
                <button style="float: right; margin-right: 10px;" (click)="navdepartmentsales()" mat-stroked-button
                    class="btn btn-info">
                    View Department Sales </button>
            </div>
        </div>
        <!--  <br />
        <div class="row">
            <div class="col-md-12">
                <button style="float: left" (click)="navdispatchedproducts()" mat-stroked-button class="btn btn-info">
                    View
                    Dispatched Products </button>
            </div>
        </div> -->
        <div class="row" *ngIf="!isStaffSwitchedTable">
            <div class="col-md-12">
                <cdk-virtual-scroll-viewport style="height: 1000px" [itemSize]="itemSize">
                    <ng-container *cdkVirtualFor="let counterproduct of paginatedCounterProducts; let i = index">
                        <div class="card" style="border: solid #00254e 2px;">
                            <div class="card-body">
                                <div class="pharm-img" *ngIf="counterproduct.productimage == ''">
                                    <img class="img-avatar" src="assets/img/image_placeholder.png">
                                </div>
                                <div class="pharm-img" *ngIf="counterproduct.productimage != ''">
                                    <img class="img-avatar" style="cursor: pointer;"
                                        [src]="_DomSanitizer.bypassSecurityTrustUrl(counterproduct.productimage)"
                                        (click)="viewImage(counterproduct, i)" matTooltip="View Image">
                                </div>
                                <mat-checkbox (change)="selectedCounterProduct(counterproduct, $event)"></mat-checkbox>
                                <mat-card-title style="margin: 0 0 5px 10px;">Product Name:
                                    {{counterproduct.productname}}</mat-card-title>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Supplied Unit:</strong> {{counterproduct.suppliedunit}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Sub Item/Tablet Selliing Price:</strong>
                                        {{counterproduct.subitemsellingprice}}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Unit Selliing Price:</strong> {{counterproduct.unitsellingprice}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Date supplied:</strong> {{counterproduct.datesupplied}}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Expiry Date:</strong> {{counterproduct.expirydate}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Product Category:</strong> {{counterproduct.productcategory}}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Total tablets/Sub items:</strong> {{counterproduct.totalsubitem}}
                                    </div>
                                </div>

                                <div class="row" style="margin: 10px 0 5px 0">
                                    <div class="col-md-12">
                                        <button *ngIf="isSupervisor" class="icon-product-cat"
                                            style="background-color: #4d0000"
                                            (click)="deleteCounterProduct(counterproduct)" mat-mini-fab><i
                                                class="material-icons" style="color: whitesmoke"
                                                matTooltip="Delete Product">delete</i></button>
                                        <button class="icon-product-cat" style="background-color: #00254e"
                                            (click)="editCounterProduct(counterproduct)" mat-mini-fab> <i
                                                class="material-icons" style="color: whitesmoke"
                                                matTooltip="Edit Product">edit</i></button>
                                        <button *ngIf="isSupervisor" class="icon-product-cat btn btn-info"
                                            (click)="refundCounterProduct(counterproduct)" mat-mini-fab><i
                                                class="material-icons" style="color: whitesmoke"
                                                matTooltip="Refund Product">reply</i></button>
                                        <button [disabled]="!isSupervisor" class="icon-product-cat"
                                            style="background-color: #1b5006"
                                            (click)="addDamagedProduct(counterproduct)" mat-mini-fab><i
                                                class="material-icons" style="color: whitesmoke"
                                                matTooltip="Add Damaged Product">block</i></button>
                                    </div>
                                </div>

                                <div class="row" *ngIf="counterproduct.refund" style="margin-bottom: 10px">
                                    <div class="col-md-12 approve-refund">
                                        <button style="background-color: green; cursor: pointer;"
                                            (click)="approveRefund(counterproduct)" mat-mini-fab><i
                                                class="material-icons" style="color: whitesmoke"
                                                matTooltip="Approve Refund">thumb_up</i></button>
                                        <button style="background-color: #4d0000;  margin-left: 5px; cursor: pointer;"
                                            (click)="disapproveRefund(counterproduct)" mat-mini-fab> <i
                                                class="material-icons" style="color: whitesmoke"
                                                matTooltip="Disapprove Refund">thumb_down</i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" [style.background-color]="counterproduct.color">
                                        <h3 style="text-align: center"> {{counterproduct.errormessage}} </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div style="text-align: center;">
                        <button mat-raised-button class="btn btn-warning btn-load" (click)="previous()"
                            [disabled]="!isPreviousActive"><i class="material-icons" style='color: white;'
                                matTooltip="Go to Previous">keyboard_arrow_left</i> Load Previous.... </button>
                    </div>
                    <div style="text-align: center;">
                        <button mat-raised-button class="btn btn-info btn-load" (click)="next()"
                            [disabled]="!isNextActive"> Load More.... <i class="material-icons" style='color: white;'
                                matTooltip="Go to Next">keyboard_arrow_right</i></button>
                    </div>
                    <button mat-fab class='btn btn-success' (click)="goToStart()" [disabled]="!isPreviousActive">
                        <i class="material-icons" style='color: white;'
                            matTooltip="Go to Start">keyboard_arrow_up</i></button>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div class="row" *ngIf="isStaffSwitchedTable">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <mat-form-field class="example-full-width" style="float: right;">
                            <input matInput placeholder="Search" (change)="filterString($event)">
                        </mat-form-field>
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Month</mat-label>
                                        <mat-select [value]="selectedMonth" placeholder="Select Month"
                                            [(ngModel)]="selectedMonth" name="selectedmonth">
                                            <mat-option [value]="selectedMonth" *ngFor="let selectedMonth of months">
                                                {{selectedMonth}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Year</mat-label>
                                        <mat-select [value]="selectedYear" placeholder="Select Year"
                                            [(ngModel)]="selectedYear" name="selectedyear">
                                            <mat-option [value]="selectedYear" *ngFor="let selectedYear of years"
                                                (click)="selectYear(selectedYear)">
                                                {{selectedYear}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <button mat-stroked-button class="btn btn-success" style="margin-right: 10px;"
                                        (click)="filterByMonth()">
                                        Filter</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button mat-stroked-button class="btn btn-info" (click)="addGrossProfit()">
                                        Add Gross Profit</button>
                                </div>
                            </div>
                            <table id="dtBasicExample" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="font-weight: bold;">
                                            Product Name
                                        </th>
                                        <th style="font-weight: bold;">
                                            Supplied Unit
                                        </th>
                                        <th style="font-weight: bold;">
                                            Total Sub Items
                                        </th>
                                        <th style="font-weight: bold;">
                                            Date Supplied
                                        </th>
                                        <th style="font-weight: bold;">
                                            Cost Price
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let counterproduct of paginatedCounterProducts"
                                        [style.background-color]="counterproduct.color">
                                        <td>
                                            {{counterproduct.productname}}
                                        </td>
                                        <td>
                                            {{counterproduct.suppliedunit}}
                                        </td>
                                        <td class="text-primary">
                                            {{counterproduct.totalsubitem}}
                                        </td>
                                        <td>
                                            {{counterproduct.datesupplied | date:'fullDate'}}
                                        </td>
                                        <td class="text-primary">
                                            {{counterproduct.costprice}}
                                        </td>
                                        <td>
                                            <button *ngIf="isSupervisor" class="icon-product-cat"
                                                style="background-color: #4d0000"
                                                (click)="deleteCounterProduct(counterproduct)" mat-mini-fab><i
                                                    class="material-icons" style="color: whitesmoke"
                                                    matTooltip="Delete Product">delete</i></button>
                                        </td>
                                        <td>
                                            <button class="icon-product-cat" style="background-color: #00254e"
                                                (click)="editCounterProduct(counterproduct)" mat-mini-fab> <i
                                                    class="material-icons" style="color: whitesmoke"
                                                    matTooltip="Edit Product">edit</i></button>
                                        </td>
                                        <td>
                                            <button *ngIf="isSupervisor" class="icon-product-cat btn btn-info"
                                                (click)="refundCounterProduct(counterproduct)" mat-mini-fab><i
                                                    class="material-icons" style="color: whitesmoke"
                                                    matTooltip="Refund Product">reply</i></button>
                                        </td>
                                        <td>
                                            <button [disabled]="!isSupervisor" class="icon-product-cat"
                                                style="background-color: #1b5006"
                                                (click)="addDamagedProduct(counterproduct)" mat-mini-fab><i
                                                    class="material-icons" style="color: whitesmoke"
                                                    matTooltip="Add Damaged Product">block</i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-6">
                                <h4> No of Product: {{noOfProduct}} </h4>
                                <button mat-stroked-button class="btn btn-info" data-toggle="collapse"
                                    data-target="#demo" matTooltip="Click Button"> Stock Records
                                </button>
                                <div id="demo" class="collapse">
                                    <ul>
                                        <ol style="margin-top: 5px;"> <button mat-stroked-button class="btn btn-success"
                                                matTooltip="Click Button" (click)="addStock()"> Add Stock
                                            </button> </ol>
                                        <ol style="margin-top: 5px;"> <button mat-stroked-button class="btn btn-warning"
                                                matTooltip="Click Button" (click)="viewStock()"> View Stock
                                            </button></ol>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6" style="float: right">
                                <h4>Current Stock(#): {{currentStock}}</h4>
                                <h4> Purchases(#): {{purchases}}</h4>
                            </div>
                        </div>
                        <button mat-stroked-button style="float: right; margin: 5px;" class="btn btn-info"
                            (click)="next()" [disabled]="!isNextActive"> NEXT </button>
                        <button mat-stroked-button style="float: right; margin: 5px;" class="btn btn-warning"
                            (click)="previous()" [disabled]="!isPreviousActive"> PREVIOUS </button>
                        <button mat-stroked-button style="float: right; margin: 5px;" class="btn btn-success"
                            (click)="goToStart()" [disabled]="!isPreviousActive"> GO TO START </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>